<div class="searchpage">
  <h1 class="head">Find the answers to your questions on <br> <span>your assets and their taxation</span></h1>
  <form [formGroup]="searchForm">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" formControlName="search" [matAutocomplete]="auto"
           placeholder="Start searching for a hero by id or name or country" (keyup)="getlistforAutocomplete()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autoUpdate" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button class="button" (click)="getBusinessList('')">Search</button>
  </div>
  </form>
  <div class="filter">
    <button class="filter_btn" (click)="getBusinessList('Retirement')">Retirement</button>
    <button class="filter_btn" (click)="getBusinessList('Credits')">Credits</button>
    <button class="filter_btn" (click)="getBusinessList('Diversitation')">Diversitation</button>
    <button class="filter_btn" (click)="getBusinessList('Insurance')">Insurance</button>
    <button class="filter_btn" (click)="getBusinessList('Immovable')">Immovable</button>
    <button class="filter_btn" (click)="getBusinessList('Taxation')">Taxation</button>
  </div>
  <div #ticketsItemsList class="social-wrapper">
    <div class="social-card" *ngFor="let list of businessList">
      <div class="top-wrap">
        <div class="chip-badge">
          {{list?.businessName}}
        </div>
      </div>
      <div class="info-wrapper">
        <div class="item-wrap">
          <h3 class="info-title">Category</h3>
          <p class="info-para">{{list.category}}</p>
        </div>
        <div class="item-wrap">
          <h3 class="info-title">Description</h3>
          <p class="info-para">{{list.description}}</p>
        </div>
      </div>
      <span class="circle1"></span>
      <span class="circle2"></span>
    </div>
  </div>
</div>
