<div class="searchpage">
  <h1 class="head">Find the answers to your questions on <br> <span>your assets and their taxation</span></h1>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" autocomplete="off"
      placeholder="Start searching for a hero by id or name or country">
    <button class="button">Search</button>
  </div>
  <div class="filter">
    <button class="filter_btn">Retirement</button>
    <button class="filter_btn">Credits</button>
    <button class="filter_btn">Diversitation</button>
    <button class="filter_btn">Insurence</button>
    <button class="filter_btn">Immovable</button>
    <button class="filter_btn">Taxation</button>
  </div>
  <div #ticketsItemsList class="social-wrapper">
    <div class="social-card" *ngFor="let list of businessList">
      <div class="top-wrap">
        <div class="chip-badge">
          {{list?.businessName}}Google
        </div>
      </div>
      <div class="info-wrapper">
        <div class="item-wrap">
          <h3 class="info-title">Category</h3>
          <p class="info-para">asdfadsf{{list.category}}</p>
        </div>
        <div class="item-wrap">
          <h3 class="info-title">Description</h3>
          <p class="info-para">asdfdsaf{{list.description}}</p>
        </div>
      </div>
      <span class="circle1"></span>
      <span class="circle2"></span>
    </div>
  </div>
</div>