<div class="searchpage">
  <h1 class="head">Find the answers to your questions on <br> <span>your assets and their taxation</span></h1>
  <form [formGroup]="searchForm">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" formControlName="search" autocomplete="off"
           placeholder="Start searching for a hero by id or name or country" (keyup)="getBusinessList('')">
    <button class="button" (click)="getBusinessList('')">Search</button>
  </div>
  </form>
  <div class="filter">
    <button class="filter_btn" (click)="getBusinessList('Retirement')">Retirement</button>
    <button class="filter_btn" (click)="getBusinessList('Credits')">Credits</button>
    <button class="filter_btn" (click)="getBusinessList('Diversitation')">Diversitation</button>
    <button class="filter_btn" (click)="getBusinessList('Insurence')">Insurence</button>
    <button class="filter_btn" (click)="getBusinessList('Immovable')">Immovable</button>
    <button class="filter_btn" (click)="getBusinessList('Taxation')">Taxation</button>
  </div>

  <div>
    <mat-list #ticketsItemsList class="">
      <mat-list-item *ngFor="let list of businessList">
        <h3 matLine>
          <mat-chip-list >
            <mat-chip selected mat-raised-button>
              <a style="color: #0B7641" >{{list?.businessName}}</a></mat-chip>
            <div>{{list.category}}</div>
            <div>{{list.description}}</div>
          </mat-chip-list>
        </h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>





